# remediate.enable-zone-redundancy - Terraform patch template.
#
# Referenced by rule `kubernetes-node-pool.multi-zone`.
# Set zones on the node pool.


resource "azurerm_kubernetes_cluster_node_pool" "${resource_id}" {
  zones = ["1", "2", "3"]
}
