# remediate.enable-zone-redundancy - Terraform patch template.
#
# Referenced by rule `sql-database.zone-redundant`.
# Flip zone_redundant to true.


resource "azurerm_mssql_database" "${resource_id}" {
  zone_redundant = true
}
