# remediate.set-tls-policy - Terraform patch template.
#
# Referenced by rule `object-storage.min-tls-version`.
# Raise the min TLS floor.


resource "azurerm_storage_account" "${resource_id}" {
  min_tls_version = "${min_tls_version}"
}
